.potential-candidates {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.column-names {
    display: grid;
    grid-template-columns: repeat(7, 160px);
    background-color: black;
}

.column-names div {
    border: 1px solid darkblue;
    text-align: center;
    padding: 0.2rem;
}

.saved-user {
    display: grid;
    grid-template-columns: repeat(7, 160px);
}

.saved-user.light {
    background-color: rgb(52, 46, 46);
}

.saved-user.dark {
    background-color: black;
}

.saved-user div {
    border: 1px solid darkblue;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
}

.saved-user .user-avatar {
    display: flex;
    align-items: center;
}

.saved-user img {
    border-radius: 10px;
    width: 35%;
}

.saved-user div  p {
    padding: 0.2rem;
}

.saved-user .name-and-username {
    font-weight: 600;
}

.saved-user .name-and-username p {
    margin: 0px;
}

.saved-user .name-and-username .username {
    font-style: italic;
}

.saved-user .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.saved-user .remove {
    background-color: red;
    border-radius: 50%;
    color: black;
    padding: 0.2rem;
    text-align: center;
    cursor: pointer;
}
